# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Streamlit secrets
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# Python cache
.pytest_cache/